@import "tailwindcss";

@theme {
  --color-primary: #519acf;
  --color-secondary: #43427f;
  --color-main-black: #ffffff;
  --font-playfair: "Playfair Display", serif;
  --font-dm-sans: "DM Sans", sans-serif;
}

:root {
  --primary: #519acf;
  --secondary: #43427f;
  --main-black: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-dm-sans);
  color: var(--main-black);
}

.font-serif {
  font-family: var(--font-playfair);
}